<a href="https://colab.research.google.com/github/Pavanmahaveer7/-data-manipulation-using-python/blob/main/pysprk_env.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pwd

/content

In [ ]:
!ls

sample_data

In [ ]:
!ls /usr/lib/jva/

ls: cannot access '/usr/lib/jva/': No such file or directory

In [1]:
!apt-get update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

Get:1 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:2 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Get:3 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Hit:4 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:5 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Hit:6 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Hit:7 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:8 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Ign:9 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:10 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:11 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [2,095 kB]
Hit:12 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:13 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [1,073 kB]
Get:14 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:15 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,533 kB]
Get:16 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,937 kB]
Get:18 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [3,369 kB]
Get:19 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,310 kB]
Fetched 13.6 MB in 7s (2,050 kB/s)
Reading package lists... Done

In [2]:
!ls /usr/lib/jvm/

default-java		   java-11-openjdk-amd64     java-8-openjdk-amd64
java-1.11.0-openjdk-amd64  java-1.8.0-openjdk-amd64

In [3]:
#dowload apache spark binary

!wget -q https://downloads.apache.org/spark/spark-3.3.0/spark-3.3.0-bin-hadoop3.tgz

!tar -xf spark-3.3.0-bin-hadoop3.tgz

In [9]:
!pip install  findspark
findspark.init()

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: findspark in /usr/local/lib/python3.7/dist-packages (2.0.1)

In [10]:
import os
os.environ["JAVA_HOME"]= "/usr/lib/jvm/java-8-openjdk.amd64"
os.environ["SPARK_HOME"]="/content/spark-3.3.0-bin-hadoop3"

In [4]:
!pip install pyspark

from pyspark.context import SparkContext

from pyspark.sql import SparkSession 

S=SparkSession.builder \
    .master("local") \
    .appName("hii") \
    .getOrCreate()

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 48 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 56.4 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=38541a576c84fb48f2d0f795181d26ba5f734cae6f8684a80365c24be4b4f379
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [11]:
S

In [12]:
!wget -q https://archive.ics.uci.edu/ml/machine-learning-databases/00603/in-vehicle-coupon-recommendation.csv -p sample_data/

In [14]:
filepath= "/content/archive.ics.uci.edu/ml/machine-learning-databases/00603/in-vehicle-coupon-recommendation.csv"
spark_df=S.read.format('csv').options(header='true',inferschema='true').load(filepath)
spark_df.show(5)

+---------------+---------+-------+-----------+----+--------------------+----------+------+---+-----------------+------------+--------------------+----------+---------------+----+-----+-----------+---------+--------------------+----------------+----------------+-----------------+-----------------+--------------+-------------+---+
|    destination|passanger|weather|temperature|time|              coupon|expiration|gender|age|    maritalStatus|has_children|           education|occupation|         income| car|  Bar|CoffeeHouse|CarryAway|RestaurantLessThan20|Restaurant20To50|toCoupon_GEQ5min|toCoupon_GEQ15min|toCoupon_GEQ25min|direction_same|direction_opp|  Y|
+---------------+---------+-------+-----------+----+--------------------+----------+------+---+-----------------+------------+--------------------+----------+---------------+----+-----+-----------+---------+--------------------+----------------+----------------+-----------------+-----------------+--------------+-------------+---+
|No Urgent Place|    Alone|  Sunny|         55| 2PM|     Restaurant(<20)|        1d|Female| 21|Unmarried partner|           1|Some college - no...|Unemployed|$37500 - $49999|null|never|      never|     null|                 4~8|             1~3|               1|                0|                0|             0|            1|  1|
|No Urgent Place|Friend(s)|  Sunny|         80|10AM|        Coffee House|        2h|Female| 21|Unmarried partner|           1|Some college - no...|Unemployed|$37500 - $49999|null|never|      never|     null|                 4~8|             1~3|               1|                0|                0|             0|            1|  0|
|No Urgent Place|Friend(s)|  Sunny|         80|10AM|Carry out & Take ...|        2h|Female| 21|Unmarried partner|           1|Some college - no...|Unemployed|$37500 - $49999|null|never|      never|     null|                 4~8|             1~3|               1|                1|                0|             0|            1|  1|
|No Urgent Place|Friend(s)|  Sunny|         80| 2PM|        Coffee House|        2h|Female| 21|Unmarried partner|           1|Some college - no...|Unemployed|$37500 - $49999|null|never|      never|     null|                 4~8|             1~3|               1|                1|                0|             0|            1|  0|
|No Urgent Place|Friend(s)|  Sunny|         80| 2PM|        Coffee House|        1d|Female| 21|Unmarried partner|           1|Some college - no...|Unemployed|$37500 - $49999|null|never|      never|     null|                 4~8|             1~3|               1|                1|                0|             0|            1|  0|
+---------------+---------+-------+-----------+----+--------------------+----------+------+---+-----------------+------------+--------------------+----------+---------------+----+-----+-----------+---------+--------------------+----------------+----------------+-----------------+-----------------+--------------+-------------+---+
only showing top 5 rows

In [29]:
spark_df.printSchema()
type(spark_df)

root
 |-- destination: string (nullable = true)
 |-- passanger: string (nullable = true)
 |-- weather: string (nullable = true)
 |-- temperature: integer (nullable = true)
 |-- time: string (nullable = true)
 |-- coupon: string (nullable = true)
 |-- expiration: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- age: string (nullable = true)
 |-- maritalStatus: string (nullable = true)
 |-- has_children: integer (nullable = true)
 |-- education: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- income: string (nullable = true)
 |-- car: string (nullable = true)
 |-- Bar: string (nullable = true)
 |-- CoffeeHouse: string (nullable = true)
 |-- CarryAway: string (nullable = true)
 |-- RestaurantLessThan20: string (nullable = true)
 |-- Restaurant20To50: string (nullable = true)
 |-- toCoupon_GEQ5min: integer (nullable = true)
 |-- toCoupon_GEQ15min: integer (nullable = true)
 |-- toCoupon_GEQ25min: integer (nullable = true)
 |-- direction_same: integer (nullable = true)
 |-- direction_opp: integer (nullable = true)
 |-- Y: integer (nullable = true)

pyspark.sql.dataframe.DataFrame

In [30]:
#convert sparkdf to pandasdf now after conversion we can use all libraries of py fpr moeling


pandas_df=spark_df.toPandas()
pandas_df.shape
type(pandas_df)

pandas.core.frame.DataFrame

In [18]:
pandas_df.isnull().sum()

destination                 0
passanger                   0
weather                     0
temperature                 0
time                        0
coupon                      0
expiration                  0
gender                      0
age                         0
maritalStatus               0
has_children                0
education                   0
occupation                  0
income                      0
car                     12576
Bar                       107
CoffeeHouse               217
CarryAway                 151
RestaurantLessThan20      130
Restaurant20To50          189
toCoupon_GEQ5min            0
toCoupon_GEQ15min           0
toCoupon_GEQ25min           0
direction_same              0
direction_opp               0
Y                           0
dtype: int64

In [19]:
#u can use sample function for large data sets

sample_pandas=spark_df.sample(withReplacement=False, fraction=0.01).toPandas()
sample_pandas.shape

(120, 26)

In [21]:
sample_pandas["age"].value_counts()

26         27
31         23
21         21
50plus     19
36         13
41          7
46          6
below21     4
Name: age, dtype: int64

In [26]:
#converting back to spark again

pandas_df_subset= pandas_df[["destination","weather","age",
                             "temperature","time"]].copy()

pandas_df_subset.head(2)

       destination weather age  temperature  time
0  No Urgent Place   Sunny  21           55   2PM
1  No Urgent Place   Sunny  21           80  10AM

In [27]:
#sparkcreatedataframe

spark_df_from_pandas =S.createDataFrame(pandas_df_subset)
spark_df_from_pandas.show()

+---------------+-------+---+-----------+----+
|    destination|weather|age|temperature|time|
+---------------+-------+---+-----------+----+
|No Urgent Place|  Sunny| 21|         55| 2PM|
|No Urgent Place|  Sunny| 21|         80|10AM|
|No Urgent Place|  Sunny| 21|         80|10AM|
|No Urgent Place|  Sunny| 21|         80| 2PM|
|No Urgent Place|  Sunny| 21|         80| 2PM|
|No Urgent Place|  Sunny| 21|         80| 6PM|
|No Urgent Place|  Sunny| 21|         55| 2PM|
|No Urgent Place|  Sunny| 21|         80|10AM|
|No Urgent Place|  Sunny| 21|         80|10AM|
|No Urgent Place|  Sunny| 21|         80|10AM|
|No Urgent Place|  Sunny| 21|         80| 2PM|
|No Urgent Place|  Sunny| 21|         55| 2PM|
|No Urgent Place|  Sunny| 21|         55| 6PM|
|           Home|  Sunny| 21|         55| 6PM|
|           Home|  Sunny| 21|         55| 6PM|
|           Home|  Sunny| 21|         80| 6PM|
|           Work|  Sunny| 21|         55| 7AM|
|           Work|  Sunny| 21|         55| 7AM|
|           Work|  Sunny| 21|         80| 7AM|
|           Work|  Sunny| 21|         80| 7AM|
+---------------+-------+---+-----------+----+
only showing top 20 rows

In [28]:
spark_df_from_pandas.printSchema()

root
 |-- destination: string (nullable = true)
 |-- weather: string (nullable = true)
 |-- age: string (nullable = true)
 |-- temperature: long (nullable = true)
 |-- time: string (nullable = true)

In [42]:
from pandas.core.arrays.numeric import *
#we dont want long so to save spave use struct type

# structType objects define the schema of Spark data frames. struct contain a list of structfield objects that definr the name,type,nullable flag for each column 
#passin thw custom schema to schema
from pyspark.sql.types import *

schema= StructType([StructField("destination",StringType(),True),
                    StructField("weather",StringType(),True),
                    StructField("age",StringType(),True),
                    StructField("temperature",IntegerType(),True),
                    StructField("time",StringType(),True),
                    
])

spark_df_from_pandas=S.createDataFrame(pandas_df_subset,schema=schema)
spark_df_from_pandas.show(4)

+---------------+-------+---+-----------+----+
|    destination|weather|age|temperature|time|
+---------------+-------+---+-----------+----+
|No Urgent Place|  Sunny| 21|         55| 2PM|
|No Urgent Place|  Sunny| 21|         80|10AM|
|No Urgent Place|  Sunny| 21|         80|10AM|
|No Urgent Place|  Sunny| 21|         80| 2PM|
+---------------+-------+---+-----------+----+
only showing top 4 rows

In [ ]:
()